.content {
  position: absolute;
  top: calc(50% - 201px);
  left: calc(50% - 155px);
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.content input,
textarea,
button {
  margin-bottom: 10px;
  padding: 5px;
}

.content button {
  cursor: pointer;
}

.content h4 {
  margin: 10px;
}

.warning-text {
  color: red;
}
